/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    min-height: 100vh;
}

.app-title {
    color: #32485F;
}

.list {
    width: 400px;
    border: 7px solid darkblue;
    padding: 10px;
    margin: 10px;
    width: 650px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-enter-active, .list-leave-active {
    transition: 0.5s;
}

.list-enter, .list-leave-active
/* .list-leave-active below version 2.1.8 */

    {
    opacity: 0;
}

.list-leave-to {
    opacity: 1;
    opacity: 0;
}

.btn {
    background-color: rgb(3, 53, 104);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(12, 34, 100);
}